/**
 * @author T. Werring info@t-werring.nl
 * @project StartYourOwn
 * @created 14-8-14 14:53
 */

body {
    background: url(../img/bg.jpg) center center no-repeat fixed;
    background-size: cover;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: white;
    text-shadow: 0 0 3px #666666;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
    font-weight: 800;
    color: #ecf0f1;
}


.debug {
    background: fuchsia;
    border: 1px dashed #A70000;
}

.gradient_box{
    background: url(/static/img/logo_syo_www_260.jpg) center center;
    background-size: cover;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}

.projectBlockName {
    margin: 0 -15px;
    padding: 0 20px;
    bottom: 1.9em;
    color: white;
    font-family: "Titillium Web",sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    position: absolute;
    width: 100%;
    text-align: right;
    text-shadow: 0 0 3px #666666;
}

.projectBlockProgress {
    position: absolute;
    margin: 0 -15px;
    padding: 0 15px;
    font-family: "Titillium Web",sans-serif;
    width: 100%;
    display: block;
    bottom: 1em;

}

.projectProgressBoundry {
    margin: 0;
    border: 1px solid #66cc66;
    border-radius: 5px;
    background: url(../img/green.jpg) repeat-y #DDD;
    background-size: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #339933;
    height: 1.6em;
}